<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
	<resultMap id="chatMessageResultSet" type="chatMessage">
		<result column="SENDER_NO" property="senderNo"/>
		<result column="MESSAGE_CONTENT" property="messageContent" />
		<result column="MESSAGE_CHECKED" property="messageChecked" />
		<result column="MESSAGE_SENDING_TIME" property="messageSendingTime" />
		<result column="CHATROOM_NO" property="chatRoomNo" />		
	</resultMap>
	
	<resultMap id="chatRoomResultSet" type="chatRoom">
		<result column="CHATROOM_NO" property="chatRoomNo"/>
		<result column="UPDATED_DATE" property="updatedDate" />
		<result column="LAST_MESSAGE" property="lastMessage" />
		<result column="UNREAD_COUNT" property="unreadCount" />
		<result column="HOST_NO" property="hostNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEMBER_NAME" property="memberName" />
	</resultMap>
	
	<resultMap id="chattingMessageResultSet" type="chattingMessage">

	</resultMap>
	
	<resultMap id="chattingListResultSet" type="chattingList">
		<result column="CHATROOM_NO" property="chatRoomNo"/>
		<result column="UPDATED_DATE" property="updatedDate" />
		<result column="LAST_MESSAGE" property="lastMessage" />
		<result column="UNREAD_COUNT" property="unreadCount" />
		<result column="HOST_NO" property="hostNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEMBER_NAME" property="memberName" />
	</resultMap>
	
	<insert id="insertChatRoom" parameterType="chatRoom">
	
		INSERT INTO CHATROOM (CHATROOM_NO
						    , HOST_NO
						    , MEMBER_NO
						    , UPDATED_DATE)
					  VALUES (SEQ_CHATROOM_NO.NEXTVAL
					 	    , 1
					 	    , #{memberNo}
					 	    , SYSDATE)
	</insert>
	
	<select id="getChattingList" resultMap="chatRoomResultSet">
		SELECT LAST_MESSAGE
			 , UPDATED_DATE
			 , CHATROOM_NO
			 , HOST_NO
			 , MEMBER_NAME
		FROM CHATROOM
	    JOIN MEMBER USING (MEMBER_NO)
	</select>
	
</mapper>